.NAME {
    background-color: #004070;;
    color: antiquewhite;
  margin-left: ;}



.NAME h1{
border-bottom: 2px solid ;
padding-top: 40px;
}

.ABOUT ul{
    border-bottom: 2px solid #004070;
}


.EDU h2 {
    border-bottom: 2px solid #004070 ;
    margin-top: 90px;
}

.WORK h2 {
    border-bottom:  2px solid #004070;
    margin-top: 90px;
}

.ILORIN {
    border-bottom:  2px solid #004070;
}

.DIGITAL h2 {
    border-bottom:  2px solid #004070;
    margin-top: 90px;
    
}

.AWARD h2 {
    border-bottom: 2px solid #004070 ;
    margin-top: 90px;

}
